<div class="bg-white p-3 shadow-sm rounded-sm dark:bg-gray-900 w-full">
    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 dark:text-white">
        <ng-icon name="heroUser" class="text-4xl"></ng-icon>
        <span class="tracking-wide text-4xl">About me</span>
    </div>
    <div class="text-gray-700 dark:text-white">
        <div class="grid md:grid-cols-2 text-sm">
            <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-2xl">Username</div>
                <div class="px-4 py-2 text-2xl">{{currentUser?.name}}</div>
            </div>
            <div class="grid grid-cols-2">
                <div class="px-4 py-2 font-semibold text-2xl">Email</div>
                <div class="px-4 py-2 text-2xl">{{currentUser?.email}}</div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white p-3 shadow-sm rounded-sm dark:bg-gray-900 mt-10">
    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 dark:text-white">
        <ng-icon name="heroPencilSquare" class="text-4xl"></ng-icon>
        <span class="tracking-wide text-4xl">Change password</span>
    </div>
    <div class="text-gray-700 dark:text-white">
        <form (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm">
            <div class="grid md:grid-cols-2 text-sm">
                <div class="p-2">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                        password</label>
                    <input type="password" id="password"
                           [(ngModel)]="form.password"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="****" required>
                </div>
                <div class="p-2">
                    <label for="password_conf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat
                        password</label>
                    <input type="password" id="password_conf"
                           [(ngModel)]="form.password_conf"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="****" required>
                </div>
                <button type="submit"
                        class="text-white p-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Save Password
                </button>
            </div>
        </form>
    </div>
</div>
<div class="bg-white p-3 shadow-sm rounded-sm dark:bg-gray-900">
    <div class="grid grid-cols-2">
        <div class="pr-5">
            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3 dark:text-white">
                <ng-icon name="heroDocumentText" class="text-xl"></ng-icon>
                <span class="tracking-wide">Submitted Homeworks</span>
            </div>
            <ul class="list-inside space-y-2">
                <li>
                    <div class="dark:text-white text-gray-900">Homeworks will be shown here</div>
                    <div class="dark:text-gray-300 text-xs">Today</div>
                </li>
            </ul>
        </div>
        <div class="pl-5">
            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3 dark:text-white">
                <ng-icon name="heroAcademicCap" class="text-xl"></ng-icon>
                <span class="tracking-wide">Passed Lessons</span>
            </div>
            <ul class="list-inside space-y-2">
                <li>
                    <div class="dark:text-white text-gray-900">Lessons will be shown here</div>
                    <div class="dark:text-gray-300 text-xs">Today</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End of Experience and education grid -->
</div>